<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModeloDatos" connectionString="metadata=res://*/Contexto.ModeloDatos.csdl|res://*/Contexto.ModeloDatos.ssdl|res://*/Contexto.ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=basedesarrollo.coqueta.com.mx\SQLEXPRESS;initial catalog=IncidenciasCoqueta;user id=desarrollo;password=Coq0849*;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>